<ion-view>

	<ion-nav-title>
		<div ng-if="language == 'pt-PT'">
			<h1 class="title">Informações do Dispositivo</h1>
		</div>

		<div ng-if="language == 'es-ES'">
			<h1 class="title">Informações do Dispositivo</h1>
		</div>
	</ion-nav-title>

	<ion-content padding="false" overflow-scroll="true">

	<div ng-if="language == 'pt-PT'">
		<ion-refresher pulling-text="Puxe para recarregar..." on-refresh="doRefresh()"> </ion-refresher>
		<div class="padding">
			<ul class="list">
				<li class="item">
					Modelo : {{model}}
				</li>
				<li class="item">
					Platforma : {{platform}} {{platformVersion}}
				</li>
				<li class="item">
					UUID : {{uuid}}
				</li>
				<li class="item">
					Lingua : {{locale}}
				</li>
			</ul>
		</div>
	</div>

	<div ng-if="language == 'es-ES'">
		<h1 class="title">DEVICE INFO (ES)</h1>
		<ion-refresher pulling-text="Puxe para recarregar..." on-refresh="doRefresh()"> </ion-refresher>
		<div class="padding">
			<ul class="list">
				<li class="item">
					Modelo : {{model}}
				</li>
				<li class="item">
					Platforma : {{platform}} {{platformVersion}}
				</li>
				<li class="item">
					UUID : {{uuid}}
				</li>
				<li class="item">
					Lingua : {{locale}}
				</li>
			</ul>
		</div>
	</div>
	</ion-content>

	<ion-footer-bar align-title="center" class="bar-balanced custom-lrwine">
	<div ng-if="language == 'pt-PT'">
		<h1 class="title">LR WEBTOOL</h1>
		<div class="buttons" ng-click="GoToSuporte()">
			<button class="button">Suporte</button>
		</div>
	</div>

	<div ng-if="language == 'es-ES'">
		<h1 class="title">LR WEBTOOL</h1>
		<div class="buttons" ng-click="GoToSuporte()">
			<button class="button">Soporte</button>
		</div>
	</div>
	</ion-footer-bar>


</ion-view>

