<ion-view view-title="CONTATOS">
  <ion-content padding="false" overflow-scroll="true">
		 <div class="padding">
		<div class="list">
			<form id="mail4mkt" action="https://mail4mkt.com/index.php/lists/ng422y0zf14cb/subscribe" method="post" accept-charset="utf-8">
				<div class="item item-input item-stacked-label">
					<input id="FNAME" type="text" class="form-control" name="FNAME" placeholder="O Seu Nome" value="" required />
				</div>
				<div class="item item-input item-stacked-label">
					<input id="EMAIL" type="email" class="form-control" name="EMAIL" placeholder="O Seu Email" value="" required />
				</div>
				<div class="item item-input item-stacked-label">
					<input id="PHONE" type="tel" class="form-control" name="PHONE" placeholder="O Seu Telefone" value=""/>
				</div>
				<div class="clearfix"><!-- --></div>
				<div class="actions">
					<button id="M4Msubmit" type="submit" class="button button-block button-positive">SIM, quero saber mais!</button>
				</div>
				<div class="clearfix"><!-- --></div>
			</form>
		</div>
		</div>

  </ion-content>
</ion-view>
