<ion-view cache-view="false" >
	<ion-slide-box on-slide-changed="slideChanged(index)">
		<ion-slide>
		<span>{{language}}</span>
		<div ng-controller="IntroCtrl">
			<div ng-if="language == 'pt-PT'">
				<div class="slide-content">
					<h3><strong>BEM VINDO <br>{{profilename}}</strong></h3>
					<button class="button button-balanced" ng-if="account != 'OK'" ng-click="startApp()">Registar Dispositivo</button>
					<button class="button button-balanced" ng-if="account == 'OK'" ng-click="toggleLeftSideMenu()">Ver Menu</button>
					<div><flag country="pt" size="32"></flag></div>
				</div>
			</div>

			<div ng-if="language == 'es-ES'">
				<div class="slide-content">
					<h3><strong>BIENVENIDO <br>{{profilename}}</strong></h3>
					<button class="button button-balanced" ng-if="account != 'OK'" ng-click="startApp()">Agregar dispositivo</button>
					<button class="button button-balanced" ng-if="account == 'OK'" ng-click="toggleLeftSideMenu()">Ver Menú</button>
					<div><flag country="es" size="32"></flag></div>
				</div>
			</div>
		</div>
		</ion-slide>
	</ion-slide-box>
</ion-view>
