<ion-view view-title="MINHA CONTA">
  <ion-content padding="false" overflow-scroll="true">


<div class="list" ng-app="starter" ng-controller="LoginCtrl">
  <label class="item item-input item-floating-label">
   <span class="input-label">Name</span>
    <input type="text" placeholder="Name">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Email</span>
    <input type="text" placeholder="Email" >
  </label>  
 <div class="padding">
    <button class="button button-block button-positive" ng-touch="doLogin()">Submit</div>
  </div>  
</div>


  </ion-content>
</ion-view>
