<ion-view view-title="MINHA CONTA">
  <ion-content padding="false" overflow-scroll="true">

Insira o nome de utilizador e Chave API fornecido no backoffice da LR Webtool para identificar o seu equipamento.

<div class="list">
  <label class="item item-input item-floating-label">
   <span class="input-label">Nome de Utilizador</span>
    <input type="text" placeholder="webtool" name="username" ng-model="username" ng-minlength="4" required>
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Chave API</span>
    <input type="text" placeholder="123456789" name="token" ng-model="token" ng-minlength="9" required>
  </label>  
 <div class="padding">
    <button class="button button-block button-positive">Registar Dispositivo</div>
  </div>  
</div>

Os mesmos dados são aplicáveis a qualquer equipamento que possua.


  </ion-content>
</ion-view>
