<ion-view view-title="EMAIL MARKETING" >
	<ion-content overflow-scroll="true"  class="iframe-wrapper">
		<ion-refresher pulling-text="Puxe para recarregar..." on-refresh="doRefresh()"> </ion-refresher>
		<ion-pane>
			<iframe src="https://mail4mkt.com"></iframe>
		</ion-pane>
	</ion-content>
	<ion-footer-bar align-title="center" class="bar-balanced custom-lrwine">

		<h1 class="title">LR WEBTOOL</h1>
		<div class="buttons" ng-click="GoToSuporte()">
			<button class="button">Suporte</button>
		</div>
	</ion-footer-bar>
</ion-view>
