<ion-side-menus enable-menu-with-back-views="true">

	<ion-side-menu-content>
		<ion-nav-bar class="bar-balanced custom-lrwine">
			<ion-nav-back-button>	</ion-nav-back-button>
			  <ion-nav-buttons side="left">
				<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
			  </ion-nav-buttons>
		</ion-nav-bar>
		<ion-nav-view name="menuContent"></ion-nav-view>
	</ion-side-menu-content edge-drag-threshold="false">

	<ion-side-menu side="left">

    <ion-header-bar class="bar-balanced custom-lrwine"></ion-header-bar>

    <ion-content>
      <ion-list>

        <ion-item nav-clear menu-close">
		<center><img src="img/lr.png" width="35%"/></center>
        </ion-item>

        <ion-item class="item item-icon-left" nav-clear menu-close href="#/app/intro">
          <i class="icon ion-android-home"></i>
          <div ng-if="language == 'pt-PT'">Inicio</div>
          <div ng-if="language == 'es-ES'">Inicio</div>
        </ion-item>

        <ion-item class="item item-icon-left" nav-clear menu-close href="#/app/api">
          <i class="icon ion-android-list"></i>
          <div ng-if="language == 'pt-PT'">Ativação</div>
          <div ng-if="language == 'es-ES'">Activación</div>
        </ion-item>

        <div ng-if="account == 'OK'">
			<ion-item class="item item-icon-left" nav-clear menu-close href="#/app/sindicancia">
			  <i class="icon ion-ios-world"></i>
			  <div ng-if="language == 'pt-PT'">Redes Sociais</div>
			  <div ng-if="language == 'es-ES'">Redes Sociales</div>
			</ion-item>


			<div ng-if="language == 'pt-PT'">
			<ion-item class="item item-icon-left" nav-clear menu-close ng-click="GotoLink('http://lrwebtool.com/recrutar/?id={{profileusername}}')">
			  <i class="icon ion-person-add"></i>
			  <div>Recrutar</div>
			</ion-item>
			</div>

			<div ng-if="language == 'es-ES'">
			<ion-item class="item item-icon-left" nav-clear menu-close ng-click="GotoLink('http://lrwebtool.com/es/recluta/?id={{profileusername}}')">
			  <i class="icon ion-person-add"></i>
			  Recluta
			</ion-item>
			</div>


			<ion-item class="item item-icon-left" nav-clear menu-close ng-click="GotoLink('https://mail4mkt.com/')">
			  <i class="icon ion-android-drafts"></i>
			  <div ng-if="language == 'pt-PT'">Email Marketing</div>
			  <div ng-if="language == 'es-ES'">Email Marketing</div>
			</ion-item>

			<ion-item class="item item-icon-left" nav-clear menu-close href="#/app/contatos">
			  <i class="icon ion-android-contacts"></i>
			  <div ng-if="language == 'pt-PT'">Registar Contato</div>
			  <div ng-if="language == 'es-ES'">Registrar Contacto</div>
			</ion-item>

			<ion-item class="item item-icon-left" nav-clear menu-close href="#/app/suporte">
			<i class="icon ion-android-chat"></i>
			<div ng-if="language == 'pt-PT'">Suporte</div>
			<div ng-if="language == 'es-ES'">Soporte</div>
			</ion-item>

		</div>

		<!--div ng-if="username == 'sp1ke77'"-->
		<div>
			<ion-item class="item item-icon-left" nav-clear menu-close href="#/app/admin">
			<i class="icon ion-locked"></i>
			<div ng-if="language == 'pt-PT'">Device Info</div>
			<div ng-if="language == 'es-ES'">Device Info</div>
			</ion-item>
		</div>

      </ion-list>


      <div class="padding">
          <div class="title3" ng-if="language == 'pt-PT'" ng-if="account == 'OK'">Ligado como</div>
          <div class="title3" ng-if="language == 'es-ES'" ng-if="account == 'OK'">Online como</div>
          <div class="title3" ng-if="account == 'OK'">{{profilename}}</div>
          <div class="title3" ng-if="account == 'OK'">{{locale}}</div>
      </div>

    </ion-content>

	<ion-footer-bar align-title="center" class="bar-balanced custom-lrwine">
		<h1 class="title2" >v1.1.277 - 2016, L4Marketing LLC</h1>
	</ion-footer-bar>
	</ion-side-menu>
</ion-side-menus>
