<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>

    <ion-nav-bar class="bar-balanced custom-lrwine">
		  <ion-nav-back-button>	</ion-nav-back-button>
     
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    
    </ion-nav-bar>
    
    <ion-nav-view name="menuContent"></ion-nav-view>
    
  </ion-side-menu-content edge-drag-threshold="false">

  <ion-side-menu side="left">
    <ion-header-bar class="bar-balanced custom-lrwine">
      
    </ion-header-bar>
    <ion-content>

      <ion-list>
        <ion-item nav-clear menu-close">
		<center><img src="img/lr.png" width="35%"/></center>
        </ion-item>
        
        <ion-item class="item item-icon-left" nav-clear menu-close href="#/app/intro">
          <i class="icon ion-android-home"></i>
          Inicio
        </ion-item>

        <ion-item class="item item-icon-left" nav-clear menu-close href="#/app/api">
          <i class="icon ion-android-list"></i>
          Ativação
        </ion-item>
        
        <div ng-if="account == 'OK'">
			<ion-item class="item item-icon-left" nav-clear menu-close href="#/app/sindicancia">
			  <i class="icon ion-ios-world"></i>
			  Redes Sociais
			</ion-item>
			
			<ion-item class="item item-icon-left" nav-clear menu-close ng-click="GotoLink('http://lrwebtool.com/recrutar/?id={{profileusername}}')">
			  <i class="icon ion-person-add"></i>
			  Recrutar
			</ion-item>
			
			<ion-item class="item item-icon-left" nav-clear menu-close ng-click="GotoLink('https://mail4mkt.com/')">
			  <i class="icon ion-android-drafts"></i>
			  Email Marketing
			</ion-item>
			
			<ion-item class="item item-icon-left" nav-clear menu-close href="#/app/contatos">
			  <i class="icon ion-android-contacts"></i>
			  Registar Contato
			</ion-item>
        
			<ion-item class="item item-icon-left" nav-clear menu-close href="#/app/suporte">
			<i class="icon ion-android-chat"></i>
			Suporte
			</ion-item>
		</div>
		<div ng-if="username == 'sp1ke77'">
			<ion-item class="item item-icon-left" nav-clear menu-close href="#/app/admin">
			<i class="icon ion-locked"></i>
			Device Info
			</ion-item>
		</div>
      </ion-list>
      
      <div class="padding">
          <div class="title3" ng-if="account == 'OK'">Ligado como</div>
          <div class="title3" ng-if="account == 'OK'">{{profilename}}</div>
      </div>
    </ion-content>
     	<ion-footer-bar align-title="center" class="bar-balanced custom-lrwine">
			<h1 class="title2">versão 1.0.124 - 2016, L4Marketing LLC</h1>

	</ion-footer-bar>
  </ion-side-menu>
</ion-side-menus>
