<ion-view view-title="REDES SOCIAIS">
  <ion-content padding="false" overflow-scroll="true">
<p style="text-align: center;">
<br /><br />
<strong>Escolha o Funil e</strong>
<strong> clique no botão da rede social</strong>
<strong> que pretende divulgar.</strong></p>
<br />
<hr />
<p style="text-align: center;"><img title="Celebridadesface" width="90%" src="img/Celebridadesface.jpg" alt="Celebridadesface" /></p>
<div class="crunchify-social">
	<a ng-bind-html="htmlfacebook1 | hrefToJS"></a>
	<a ng-bind-html="htmltwitter1 | hrefToJS"></a>
	<a ng-bind-html="htmlgoogleplus1 | hrefToJS"></a>
	<a ng-bind-html="htmllinkedin1 | hrefToJS"></a>
	<a ng-bind-html="htmlwhatsapp1 | hrefToJS"></a>
	<a ng-bind-html="htmlsms1 | hrefToJS"></a>
	<a class="crunchify-link crunchify-sms" href="sms:?body=TESTE" target="_blank">SMS</a>
</div>


<hr />
<p style="text-align: center;"><img title="Celebridadesface-cf" width="90%" src="img/Celebridadesface-cf.jpg" alt="Celebridadesface-cf" /></p>
<div class="crunchify-social">
	<a class="crunchify-link crunchify-facebook" href="https://www.facebook.com/sharer/sharer.php?u=http://lrwebtool.com/celebridades/?id=sp1ke77" target="_blank">Facebook</a>
	<a class="crunchify-link crunchify-twitter" href="" target="_blank">Twitter</a>
	<a class="crunchify-link crunchify-googleplus" href="" target="_blank">Google+</a>
	<a class="crunchify-link crunchify-linkedin" href="" target="_blank">LinkedIn</a>
	<a class="crunchify-link crunchify-whatsapp" href="" data-action="share/whatsapp/share target="_blank">WhatsApp</a>
	<a class="crunchify-link crunchify-sms" href="" target="_blank">SMS</a>
</div>


<hr />
<p style="text-align: center;"><img title="Celebridadesface-mc" width="90%" src="img/Celebridadesface-mc.jpg" alt="Celebridadesface-mc" /></p>
<div class="crunchify-social">
	<a class="crunchify-link crunchify-facebook" href="https://www.facebook.com/sharer/sharer.php?u=http://lrwebtool.com/celebridades/?id=sp1ke77" target="_blank">Facebook</a>
	<a class="crunchify-link crunchify-twitter" href="" target="_blank">Twitter</a>
	<a class="crunchify-link crunchify-googleplus" href="" target="_blank">Google+</a>
	<a class="crunchify-link crunchify-linkedin" href="" target="_blank">LinkedIn</a>
	<a class="crunchify-link crunchify-whatsapp" href="" data-action="share/whatsapp/share target="_blank">WhatsApp</a>
	<a class="crunchify-link crunchify-sms" href="" target="_blank">SMS</a>
</div>


<hr />
<p style="text-align: center;"><img title="Celebridadesface-rc" width="90%" src="img/Celebridadesface-rc.jpg" alt="Celebridadesface-rc" /></p>
<div class="crunchify-social">
	<a class="crunchify-link crunchify-facebook" href="https://www.facebook.com/sharer/sharer.php?u=http://lrwebtool.com/celebridades/?id=sp1ke77" target="_blank">Facebook</a>
	<a class="crunchify-link crunchify-twitter" href="" target="_blank">Twitter</a>
	<a class="crunchify-link crunchify-googleplus" href="" target="_blank">Google+</a>
	<a class="crunchify-link crunchify-linkedin" href="" target="_blank">LinkedIn</a>
	<a class="crunchify-link crunchify-whatsapp" href="" data-action="share/whatsapp/share target="_blank">WhatsApp</a>
	<a class="crunchify-link crunchify-sms" href="" target="_blank">SMS</a>
</div>


<hr />
<p style="text-align: center;"><img title="Celebridadesface-mn" width="90%" src="img/Celebridadesface-mn.jpg" alt="Celebridadesface-mn" /></p>
<div class="crunchify-social">
	<a class="crunchify-link crunchify-facebook" href="https://www.facebook.com/sharer/sharer.php?u=http://lrwebtool.com/celebridades/?id=sp1ke77" target="_blank">Facebook</a>
	<a class="crunchify-link crunchify-twitter" href="" target="_blank">Twitter</a>
	<a class="crunchify-link crunchify-googleplus" href="" target="_blank">Google+</a>
	<a class="crunchify-link crunchify-linkedin" href="" target="_blank">LinkedIn</a>
	<a class="crunchify-link crunchify-whatsapp" href="" data-action="share/whatsapp/share target="_blank">WhatsApp</a>
	<a class="crunchify-link crunchify-sms" href="" target="_blank">SMS</a>
</div>
<br /><br /><br /><br />


  </ion-content>
</ion-view>
