<ion-view view-title="REDES SOCIAIS">
  <ion-content padding="false" overflow-scroll="true">
<p style="text-align: center;">
<br /><br />
<strong>Escolha o Funil e</strong>
<strong> clique no botão da rede social</strong>
<strong> que pretende divulgar.</strong></p>
<br />
<hr />
<p style="text-align: center;"><img title="Celebridadesface" width="90%" src="img/Celebridadesface.jpg" alt="Celebridadesface" /></p>
<div class="crunchify-social">
	<a ng-bind-html="htmlfacebook1 | hrefToJS"></a>
	<a ng-bind-html="htmltwitter1 | hrefToJS"></a>
	<a ng-bind-html="htmlgoogleplus1 | hrefToJS"></a>
	<a ng-bind-html="htmllinkedin1 | hrefToJS"></a>
	<a ng-bind-html="htmlwhatsapp1 | hrefToJS2"></a>
	<a class="crunchify-link crunchify-sms" href="{{htmlsms1}}" target="_blank">SMS</a>
</div>


<hr />
<p style="text-align: center;"><img title="Celebridadesface-cf" width="90%" src="img/Celebridadesface-cf.jpg" alt="Celebridadesface-cf" /></p>
<div class="crunchify-social">
	<a ng-bind-html="htmlfacebook2 | hrefToJS"></a>
	<a ng-bind-html="htmltwitter2 | hrefToJS"></a>
	<a ng-bind-html="htmlgoogleplus2 | hrefToJS"></a>
	<a ng-bind-html="htmllinkedin2 | hrefToJS"></a>
	<a class="crunchify-link crunchify-whatsapp" href="{{htmlwhatsapp2}}" data-action="share/whatsapp/share target="_blank">WhatsApp</a>
	<a class="crunchify-link crunchify-sms" href="{{htmlsms2}}" target="_blank">SMS</a>
</div>


<hr />
<p style="text-align: center;"><img title="Celebridadesface-mc" width="90%" src="img/Celebridadesface-mc.jpg" alt="Celebridadesface-mc" /></p>
<div class="crunchify-social">
	<a ng-bind-html="htmlfacebook3 | hrefToJS"></a>
	<a ng-bind-html="htmltwitter3 | hrefToJS"></a>
	<a ng-bind-html="htmlgoogleplus3 | hrefToJS"></a>
	<a ng-bind-html="htmllinkedin3 | hrefToJS"></a>
	<a class="crunchify-link crunchify-whatsapp" href="{{htmlwhatsapp3}}" data-action="share/whatsapp/share target="_blank">WhatsApp</a>
	<a class="crunchify-link crunchify-sms" href="{{htmlsms3}}" target="_blank">SMS</a>
</div>


<hr />
<p style="text-align: center;"><img title="Celebridadesface-rc" width="90%" src="img/Celebridadesface-rc.jpg" alt="Celebridadesface-rc" /></p>
<div class="crunchify-social">
	<a ng-bind-html="htmlfacebook4 | hrefToJS"></a>
	<a ng-bind-html="htmltwitter4 | hrefToJS"></a>
	<a ng-bind-html="htmlgoogleplus4 | hrefToJS"></a>
	<a ng-bind-html="htmllinkedin4 | hrefToJS"></a>
	<a class="crunchify-link crunchify-whatsapp" href="{{htmlwhatsapp4}}" data-action="share/whatsapp/share target="_blank">WhatsApp</a>
	<a class="crunchify-link crunchify-sms" href="{{htmlsms4}}" target="_blank">SMS</a>
</div>


<hr />
<p style="text-align: center;"><img title="Celebridadesface-mn" width="90%" src="img/Celebridadesface-mn.jpg" alt="Celebridadesface-mn" /></p>
<div class="crunchify-social">
	<a ng-bind-html="htmlfacebook5 | hrefToJS"></a>
	<a ng-bind-html="htmltwitter5 | hrefToJS"></a>
	<a ng-bind-html="htmlgoogleplus5 | hrefToJS"></a>
	<a ng-bind-html="htmllinkedin5 | hrefToJS"></a>
	<a class="crunchify-link crunchify-whatsapp" href="{{htmlwhatsapp5}}" data-action="share/whatsapp/share target="_blank">WhatsApp</a>
	<a class="crunchify-link crunchify-sms" href="{{htmlsms5}}" target="_blank">SMS</a>
</div>
<br /><br /><br /><br />


  </ion-content>
</ion-view>
