<ion-view view-title="SUPORTE">
  <ion-content padding="false" overflow-scroll="true">
	

	<div class="list">

		<form action="process_form.php" class="TTWForm" method="post" novalidate="">	

			<label class="item item-input item-floating-label">
				<span class="input-label">Nome</span>
				<input type="text" placeholder="webtool" name="username" ng-model="username" required>
			</label>

			<label class="item item-input item-floating-label">
				<span class="input-label">ID de Parceiro</span>
				<input type="text" placeholder="PT12345678" name="idlr" ng-model="idlr"  required>
			</label> 

			<label class="item item-input item-floating-label">
				<span class="input-label">Email</span>
				<input type="text" placeholder="email@email.xxx" name="email" ng-model="email"  required>
			</label>  
			
			 <label for="field6">
						Select
				   </label>
				   <select name="field6" id="field6" required="required">
						<option id="field6-1" value="Option 1">
							 Option 1
						</option>
						<option id="field6-2" value="Option 2">
							 Option 2
						</option>
						<option id="field6-3" value="Option 3">
							 Option 3
						</option>
				   </select>
		  
			<div class="padding"><button class="button button-block button-positive">Registar Dispositivo</div>
		  
		</form>  
	   
	</div>
	
  </ion-content>
</ion-view>
