<ion-view view-title="SUPORTE">
  <ion-content padding="false" overflow-scroll="true">
	

	<div class="list">

		<form action="process_form.php" class="TTWForm" method="post" novalidate="">	

			<label class="item item-input item-floating-label">
				<span class="input-label">Nome</span>
				<input type="text" placeholder="webtool" name="username" ng-model="username" required>
			</label>

			<label class="item item-input item-floating-label">
				<span class="input-label">ID de Parceiro</span>
				<input type="text" placeholder="PT12345678" name="idlr" ng-model="idlr"  required>
			</label> 

			<label class="item item-input item-floating-label">
				<span class="input-label">Email</span>
				<input type="text" placeholder="email@email.xxx" name="email" ng-model="email"  required>
			</label>  
			
			 <label class="item item-input item-floating-label">
						Departamento:
				   </label>
				   <select name="departamento" id="departamento" required="required">
						<option id="lrwebtool" value="LR WebTool">
							LR WebTool
						</option>
						<option id="financeiro" value="Financeiro">
							 Financeiro
						</option>
						<option id="emailmarketing" value="Email Marketing">
							 Email Marketing
						</option>
				   </select>
				   
			<label class="item item-input item-floating-label">
				<textarea name="questao" ng-model="questao"  required>Coloque Aqui a Sua Questão</textarea>
			</label>  
		  
			<div class="padding"><button class="button button-block button-positive">ENVIAR</div>
		  
		</form>  
	   
	</div>
	
  </ion-content>
</ion-view>
