<?xml version="1.0" encoding="UTF-8"?>
<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->

<widget
	xmlns="http://www.w3.org/ns/widgets"
	xmlns:gap="http://phonegap.com/ns/1.0"
	xmlns:android   = "http://schemas.android.com/apk/res/android"
	id="com.lrwebtool.mobile"
	version="1.0.158"
	versionCode="2"
	versionName="1.0.158"
	CFBundleVersion="1.0.158"
	packageVersion="1.0.158"
>

   <name>LRWEBTOOL</name>
   <description>Ferramenta Online para Parceiros LR</description>
   <author href="http://l4marketing.com" email="admin@l4marketing.com">L4 Marketing LLC</author>

	<!-- PHONEGAP Preferences -->
	<gap:platform name="ios" />
	<gap:platform name="android" />
	<gap:platform name="windows" />
	<preference name="phonegap-version" value="cli-6.3.0" />
	<preference name="targetSdkVersion" value="14" />
	<feature name="http://api.phonegap.com/1.0/device" />

	<!-- PLUGINS -->
	<plugin name="cordova-plugin-whitelist" source="npm"/>
	<plugin name="cordova-plugin-device" source="npm" />
	<plugin name="cordova-plugin-inappbrowser" source="npm" />
	<plugin name="cordova-plugin-dialogs" source="npm" />
	<plugin name="cordova-plugin-network-information" source="npm" />
	<plugin name="cordova-plugin-vibration" source="npm" />
	<plugin name="cordova-plugin-globalization" source="npm" />
	<plugin name="ionic-plugin-keyboard" source="npm" />

	<!-- Core/Common Preferences -->
	<preference name="StatusBarOverlaysWebView" value="true" />
	<preference name="keyboardDisplayRequiresUserAction" value="false" />
	<preference name="DisallowOverscroll" value="false" />
	<icon src="icon.png" />

	<!--Android Preferences-->
    <platform name="android">
		<preference name="LoadingDialog" value="A CARREGAR"/>
		<preference name="LoadingPageDialog" value="A CARREGAR"/>
        <icon   src="res/icon/android/drawable-ldpi/icon.png"               density="ldpi" />
        <icon   src="res/icon/android/drawable-mdpi/icon.png"               density="mdpi" />
        <icon   src="res/icon/android/drawable-hdpi/icon.png"               density="hdpi" />
        <icon   src="res/icon/android/drawable-xhdpi/icon.png"              density="xhdpi" />
        <icon   src="res/icon/android/drawable-xxhdpi/icon.png"             density="xxhdpi" />
        <icon   src="res/icon/android/drawable-xxxhdpi/icon.png"            density="xxxhdpi" />
    </platform>

	<!--iOS Preferences-->
    <platform name="ios">
        <icon   src="res/icon/ios/icon.png"                         platform="ios" width="57"   height="57" />
        <icon   src="res/icon/ios/icon@2x.png"                      platform="ios" width="114"  height="114" />
        <icon   src="res/icon/ios/icon-40.png"                      platform="ios" width="40"   height="40" />
        <icon   src="res/icon/ios/icon-40@2x.png"                   platform="ios" width="80"   height="80" />
        <icon   src="res/icon/ios/icon-50.png"                      platform="ios" width="50"   height="50" />
        <icon   src="res/icon/ios/icon-50@2x.png"                   platform="ios" width="100"  height="100" />
        <icon   src="res/icon/ios/icon-60.png"                      platform="ios" width="60"   height="60" />
        <icon   src="res/icon/ios/icon-60@2x.png"                   platform="ios" width="120"  height="120" />
        <icon   src="res/icon/ios/icon-60@3x.png"                   platform="ios" width="180"  height="180" />
        <icon   src="res/icon/ios/icon-72.png"                      platform="ios" width="72"   height="72" />
        <icon   src="res/icon/ios/icon-72@2x.png"                   platform="ios" width="144"  height="144" />
        <icon   src="res/icon/ios/icon-76.png"                      platform="ios" width="76"   height="76" />
        <icon   src="res/icon/ios/icon-76@2x.png"                   platform="ios" width="152"  height="152" />
        <icon   src="res/icon/ios/icon-small.png"                   platform="ios" width="29"   height="29" />
        <icon   src="res/icon/ios/icon-small@2x.png"                platform="ios" width="58"   height="58" />
        <icon   src="res/icon/ios/icon-small@3x.png"                platform="ios" width="87"   height="87" />
    </platform>

	<!-- Whitelists -->
	<access origin="mailto:*" launch-external="yes" />
	<access origin="tel:*" launch-external="yes" />
	<access origin="sms:*" launch-external="yes" />
	<access origin="whatsapp:*" launch-external="yes" />

	<allow-navigation href="http://*/*" />
	<allow-navigation href="https://*/*" />

	<allow-intent href="http://*/*" />
	<allow-intent href="https://*/*" />
	<allow-intent href="tel:*" />
	<allow-intent href="mailto:*" />
	<allow-intent href="sms:*" />
	<allow-intent href="whatsapp:*" />

	<!-- Start page -->
	<content src="index.html" />

</widget>
