/* Empty. Add your own CSS if you like */

.custom-lrwine{
    color : #FFFFFF !important;
    background-color: #9B2957 !important;
    border-color: #9B2957 !important;
}

.item-content p.post-excerpt {
	white-space: wrap;
}

.title2 {
    height: 43px;
    line-height: 44px;
    font-size: 10px !important;
    text-align: center !important;
    white-space: nowrap;
    font-weight: 600;
    color: #fff;
    
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;
    margin: 0 10px;
    min-width: 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.title3 {
    height: 43px;
    line-height: 44px;
    font-size: 12px !important;
    text-align: center !important;
    white-space: nowrap;
    font-weight: 600;
    color: #000 !important;
    
    display: block;
    z-index: 0;
    overflow: hidden;
    margin: 0 10px;
    min-width: 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.login-modal .close-button .icon::before {
	font-size: 18px !important;
}

.slider {
  height: 100%;
}
.slider-slide {
  padding-top: 80px;
  color: #000;
  background: url('../img/blurry-app-bg.png') no-repeat center top;
  background-size: cover;
  text-align: center;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

.slider-slide2 {
  padding-top: 80px;
  color: #000;
  background: url('#') no-repeat center top;
  background-size: cover;
  text-align: left;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}



.slide-content {
	position: absolute;
	bottom: 200px;
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
}

.slide-content h3 {
	color: #fff;
	margin-bottom: 40px;
}

.slide-content2 h3 {
	color: #000;
	text-align: center;
	margin-bottom: 40px;
}

/** Posts **/

.post .item.post-title, .post .item.post-title h2 {
	overflow: visible;
	white-space: normal;
	font-weight: bold;
}
.post .item-author {
    border: none;
}
.post .wp-caption.aligncenter {
    position: relative;
    margin-bottom: 1.0em;
    max-width: 100%;
    overflow: hidden;
}
.post .wp-caption .wp-caption-text {
    margin: 10px 0;
    text-align: center;
    font-style: italic;
}
.post ul,
.post ol {
    margin-top: 0;
    margin-left: 15px;
    margin-bottom: 15px;
}
.post ul ul,
.post ol ol {
    margin-bottom: 0;
}
.post .item ul, .post .item ol {
	color: #666;
	font-size: 14px;
}
.post ol {
    list-style: decimal;
}
.post ul {
    list-style: disc;
}
.post em {
    font-style: italic;
}

.post dl {
    margin-top: 0;
    margin-bottom: 5px;
}
.post dt,
.post dd {
    line-height: 1;
}
.post dt {
    font-weight: bold;
}
.post dd {
    margin-left: 0;
}
.alignright {
	float: right;
	margin-left: 15px;
}
.alignleft {
	float: left;
	margin-right: 15px;
}
.post img {
  max-width: 100%;
  height: auto;
}
.post .item-body p a {
  text-decoration: underline;
}







/* Added by Isaque */

.iframe-holder {
  height: 100%;
  width: 97%;
  position: fixed; 
  right: 0; 
  bottom: 0; 
  
  top: 0;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
}

.iframe-holder iframe {
  height: 100%;
  width: 97%;

}

	@media screen and (min-width: 1024px) {
		.crunchify-whatsapp {
		display: none !important;
		}
			
		.crunchify-sms {
		display: none !important;
		}
}
	 
	.crunchify-link {
		padding: 10px 10px 10px 10px !important;
		color: white;
		font-size: 18px;
		font-weight: 700;
		border-radius: 2px;
		cursor: pointer;
		-moz-background-clip: padding;
		-webkit-background-clip: padding-box;
		box-shadow: inset 0 -3px 0 rgba(0,0,0,.2);
		-moz-box-shadow: inset 0 -3px 0 rgba(0,0,0,.2);
		-webkit-box-shadow: inset 0 -3px 0 rgba(0,0,0,.2);
		margin-top: 5px;
		display: inline-block;
		margin-left: auto ;
		margin-right: auto ;
		width: 30%;
		text-align: center;
		text-decoration: none;
	}
	 
	.crunchify-link:hover,.crunchify-link:active {
		color: white;
	}
	 
	.crunchify-twitter {
		background: #00aced;
	}
	 
	.crunchify-twitter:hover,.crunchify-twitter:active {
		background: #0084b4;
	}
	 
	.crunchify-facebook {
		background: #3B5997;
	}
	 
	.crunchify-facebook:hover,.crunchify-facebook:active {
		background: #2d4372;
	}
	 
	.crunchify-googleplus {
		background: #D64937;
	}
	 
	.crunchify-googleplus:hover,.crunchify-googleplus:active {
		background: #b53525;
	}
	 
	.crunchify-buffer {
		background: #444;
	}
	 
	.crunchify-buffer:hover,.crunchify-buffer:active {
		background: #222;
	}
	 
	.crunchify-pinterest {
		background: #bd081c;
	}
	 
	.crunchify-pinterest:hover,.crunchify-pinterest:active {
		background: #bd081c;
	}
	 
	.crunchify-linkedin {
		background: #0074A1;
	}
	 
	.crunchify-linkedin:hover,.crunchify-linkedin:active {
		background: #006288;
	}
	 
	.crunchify-whatsapp {
		background: #43d854;
	}
	 
	.crunchify-whatsapp:hover,.crunchify-whatsapp:active {
		background: #009688;
	}
	
	.crunchify-sms {
		background: #43d854;
	}
	 
	.crunchify-sms:hover,.crunchify-sms:active {
		background: #009688;
	}
	 
	.crunchify-social {
		margin: 10px 0px 25px 0px;
		-webkit-font-smoothing: antialiased;
		font-size: 14px;
		margin-left: auto ;
		margin-right: auto ;
		width: 90%;
		
	}
